/* ==========================================================================
   Imported fonts
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

/* ==========================================================================
   Genreral styles
   ========================================================================== */
* {
	outline: 0 !important;
}
body {
	font-family: 'Lato', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* ==========================================================================
   UI styles
   ========================================================================== */
.form-control:focus {
  border-color: #FBEA00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 234, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(251, 234, 0, .6);
}
.btn-flash {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-flash:active,
.btn-flash.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-flash {
  background-image: -webkit-linear-gradient(top, #fbea00 0%, #c8bb00 100%);
  background-image:      -o-linear-gradient(top, #fbea00 0%, #c8bb00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbea00), to(#c8bb00));
  background-image:         linear-gradient(to bottom, #fbea00 0%, #c8bb00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbea00', endColorstr='#ffc8bb00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border: #fbea00;
  color: #000000;
}
.btn-flash:hover,
.btn-flash:focus {
  background-color: #c8bb00;
  background-position: 0 -15px;
}
.btn-flash:active,
.btn-flash.active {
  background-color: #c8bb00;
  border-color: #645d00;
}
.btn-flash:disabled,
.btn-flash[disabled] {
  background-color: #c8bb00;
  background-image: none;
}

/* ==========================================================================
   Navbar styles
   ========================================================================== */
.navbar-brand {
	color: #ffffff !important;
	font-weight: 700;
}

/* ==========================================================================
   Header styles
   ========================================================================== */
.jumbotron {
	background-image: url('../img/flash_bg.gif');
	background-color: #8D1A0F;
	text-align: center;
	color: #ffffff;
}

.jumbotron .intro {
	padding-left: 50px;
	padding-right: 50px;
}

.box {
	text-align: center;
}

footer {
	text-align: center;
}















